{:paths
 ["src" "resources"]

 :deps
 {clj-commons/fs                {:mvn/version "1.6.307"}
  cljc.java-time/cljc.java-time {:mvn/version "0.1.14"}
  metosin/jsonista              {:mvn/version "0.3.0"}
  metosin/reitit                {:mvn/version "0.5.11"}
  org.clojure/clojure           {:mvn/version "1.10.2-rc2"}
  org.clojure/spec.alpha        {:mvn/version "0.2.194"}
  org.clojure/tools.logging     {:mvn/version "1.1.0"}
  ring/ring-core                {:mvn/version "1.8.2"}
  ring/ring-jetty-adapter       {:mvn/version "1.8.2"}
  ring/ring-json                {:mvn/version "0.5.0"}
  clj-http/clj-http             {:mvn/version "3.10.3"}
  ;; For better CLI
  docopt/docopt {:git/url "https://github.com/nubank/docopt.clj"
                 :sha "98814f559d2e50fdf10f43cbe3b7da0ca3cca423"}}

 :aliases
 {:depstar
  {:extra-deps {seancorfield/depstar {:mvn/version "2.0.165"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner.git"
                 :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}
                ring/ring-mock
                {:mvn/version "0.4.0"}
                clj-http/clj-http
                {:mvn/version "3.10.3"}}
   :main-opts ["-m" "cognitect.test-runner"]}
  :jar
  {:extra-deps {seancorfield/depstar {:mvn/version "2.0.165"}}
   :main-opts ["-m" "hf.depstar.jar" "demo-svc.jar"]}}}
